p {
  font-family: Arial, helvetica;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  color: maroon;
  font-family: Arial;
}

h2 {
  font-family: Arial, helvetica;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.title {
  color: black;
  font: bold 2.2rem Helvetica, Arial, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
  font-family: Arial;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
  font: Helvetica, Arial, sans-serif;
}

h5 {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  width: 500px;
  padding: 30px 50px 50px 80px;
}

div {
  font: Helvetica, Arial, sans-serif;
}

h5 {
  font: Helvetica, Arial, sans-serif;
}

.center {
  margin: auto;
  width: 500px;
  border: 3px solid black;
  padding: 30px 50px 50px 80px;
}


li {
  font-family: Arial, helvetica;
  margin: auto;
}